@font-face {
	font-family: "JetBrains Mono";
	src: url("../font/JetBrainsMono-Regular.ttf");
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "JetBrains Mono", sans-serif;
	font-size: 20px;
	background-color: #27272a;
	color: #f9fafb;
}

.grid-container {
	display: grid;
	grid-template: 20% auto / 60%;
	height: 100%;
	justify-content: center;
}

.header {
	display: grid;
	grid-template: repeat(3, 1fr) / 42% 16% 42%;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	padding: 10px;
	color: #f9fafb;
	background-color: #082f49;
}

.library-title {
	font-size: 40px;
	grid-area: 1 / 1 / 1 / 4; 
}

.library-disc {
	font-size: 25px;
	grid-area: 2 / 1 / 2 / 4;
}

#new-book {
	grid-area: 3 / 2 / 4 / 3;
}

.btn {
	font-size: 18px;
	color: #f9fafb;
	font-family: "JetBrains Mono", sans-serif;
	padding: 10px;
	border-radius: 15px;
	background-color: #27272a;
	border: none;
	box-shadow: 0px 2px 5px #27272a;
	text-align: center;
}

.btn:active {
	color: #27272a;
	background-color: #f9fafb;
}

#library {
	display: grid;
	background-color: #3f3f46;
	text-align: start;
	align-items: start;
	justify-content: center;
	font-size: 15px;
}

th {
	width: 180px;
	height: 30px;
	text-align: center;
	background-color: #0c4a6e; 
}

td {
	width: 180px;
	text-align: center;
	background-color: #0369a1;
}

td.btn {
	width: 80px;
	font-size: 13px;
}

#form {
	display: none;
	grid-template: 37% auto / 42% 16% 42%;
	background-color: #3f3f46;
	text-align: center;
	align-items: start;
	justify-content: center;
	font-size: 15px;
}

#library-form {
	margin-top: 20px;
}

#library-form>input[type="text"], input[type="number"]{
	width: 350px;
	height: 20px;
	font-family: "JetBrains Mono", sans-serif;
	border-radius: 8px;
	font-size: 14px;
}

#library-form>input {
	margin: 5px;
}


#library-form>label {
	margin: 5px;
}

.input {
	grid-area: 1 / 1 / 2 / 4;
}

.btn-submit {
	width: 16%;
}

#back {
	grid-area: 2 / 2 / 3 / 3;
}
